* { margin:0; padding:0; }
html,body{ height:100%; }
body { font-size: 20px; }
a, h1, h2, h3 { font-family: "Georgia","Helvetica Neue", Helvetica, Arial, sans-serif; color: #222; text-decoration: none; }
h1 { margin: 0; font-size: 40px; font-weight:500; margin-top: 10px; margin-bottom: 10px}
h2 { font-family: 'Work Sans',Helvetica, Arial, sans-serif; font-size: 14px; color: #b5b5b5; font-weight:500;}
h3 { font-family: "Georgia","Helvetica Neue", Helvetica, Arial, sans-serif; color: #676767; font-size: 18px; font-weight:500; margin-top: 10px;}
h5 { font-family: 'Open Sans',Helvetica, Arial, sans-serif; color: #676767; margin-bottom: 1px}
h4{ font-family: "Georgia","Helvetica Neue", Helvetica, Arial, sans-serif; color: #676767; margin-top: 60px; font-weight:500; font-size: 30px; }
h5{ font-size: 14px; }
h6{font-family: "Georgia","Helvetica Neue", Helvetica, Arial, sans-serif; color: #676767; font-size: 20px;}
p{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color: #676767; letter-spacing: .08em; font-weight:300; margin-bottom: 0.8px}
a {font-size: 20px; }
a:hover { color:#b5b5b5; opacity: 0.7; filter: alpha(opacity=70); -ms-filter: "alpha(opacity=70)"; }

.header-bar {
  background-color: #FFEDCA;
  float: left;
  top: 0;
  left: 0;
  height: 8px;
  padding: 0;
  margin: 0 0 10px;
  width: 100%;
  z-index: 10;
}


.header p{
  font-family: "Georgia","Helvetica Neue", Helvetica, Arial, sans-serif; color: #222;
font-size: 28px; font-weight:500; margin-left: 10px;
text-decoration: none;
}

.header a{
text-decoration: none;
}

.menu{
  padding: 0 60px 0 ;
  float: right;
}

.menu li{
  display: inline;
}

.menu li a{
  font-family: "Georgia", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
	padding:0 15px;
	display:block;
  float: left;
}

.top {
  width:100%;
  margin-right: auto;
  margin-left : auto;
  text-align : center;
  padding-top: 50px;
}
.content {
  max-width: 800px;
  margin-right: auto;
  margin-left : auto;
  text-align : center;
  padding-top: 10px;
  padding-bottom: 30px;
  line-height: 1.4em;
  letter-spacing: .01em;
  text-rendering: optimizeLegibility;
}
.content p { text-align : left ; }

.vert-text{
padding-top: 100px;
}

.img-rounded {

border-radius: 200px;
 height: 200px;
 width: 200px;
 margin: 50px;
}
.img-block {
overflow: hidden;
}

.img-block img {
transition: 0.5s;
}
.img-block img:hover {
-moz-transform: scale(1.1,1.1);
-webkit-transform: scale(1.1,1.1);
-o-transform: scale(1.1,1.1);
-ms-transform: scale(1.1,1.1);
}
.work
{ padding-top: 50px; padding-bottom: 50px;}

.container {max-width: 95rem; margin: 0 auto; padding-left: 5%; padding-right: 5%; }
@media screen and (min-width: 46.8em) { .container { padding-left: 10%; padding-right: 10%; } }

@media screen and (min-width: 46.8em) { .row { margin-left: -4%; }
  .row:before, .row:after { content: ""; display: block; overflow: hidden; }
  .row:after { clear: both; } }

@media screen and (min-width: 46.8em) { .col { float: left; margin-left: 4%; } }
@media screen and (min-width: 46.8em) and (max-width: 69.99em) { .col.col--experience-intro { clear: both; width: 96%; } }
@media screen and (min-width: 70em) { .col.col--experience-intro { width: 29.3%; } }
@media screen and (min-width: 46.8em) and (max-width: 69.99em) { .col.col--experience { width: 46%; }
  .col.col--experience:nth-child(2n) { clear: both; } }
@media screen and (min-width: 70em) { .col.col--experience { width: 29.3%; }
  .col.col--experience:nth-child(3n+1) { clear: both; } }
@media screen and (min-width: 46.8em) and (max-width: 69.99em) { .col.col--event { width: 29.3%; }
  .col.col--event:nth-child(3n+1) { clear: both; } }
@media screen and (min-width: 70em) { .col.col--event { width: 16%; }
  .col.col--event:nth-child(5n+1) { clear: both; } }


.about{padding-top: 80px; padding-bottom: 100px;}

.contact{
  width:100%;
  margin-right: auto;
  margin-left : auto;
  text-align : center;
  padding-top: 50px;}

.work-content{
  padding-top: 30px;
  padding-bottom: 30px;
}

.work-photo {
  max-width: 1000px;
  padding-top: 50px;
  padding-bottom: 10px;
  margin-right: auto;
  margin-left : auto;
  text-align: center;
}

#footer{
  margin-right: auto;
  margin-right: auto;
  margin-left : auto;
  text-align : center;
  bottom: 0;
  width: 100%;
}

#footer a{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #676767;
  letter-spacing: .08em;
  font-size: 14px;
  font-weight:300;
  margin-bottom: 0.8px;
  display: inline-block;

}
.footer-text{
margin-top: 10px;
}

.footer-text p{
margin-top: 2px;
font-size: 12px;
}

.footer-text li{
  display: inline;
}

.footer-text li a{
  font-family: "Georgia", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
	padding:0 4px;
}

.social{
  margin-top: 10px;
  }

.social p{
    margin-top: 16px;
    font-size: 10px;
    }

.social li{
    display: inline;
  }

.social li a{
  font-family: "Georgia", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  display:block;
  text-align: center;
  }

.horizontal-bar {
  border-bottom: solid 1px #ccc;
  margin: 0 100px;
  text-align: center;
  }

.footer-bar {
  height: 8px;
  margin-top: 5px;
  background-color: #FFEDCA;
  }


img {
  width: 100%;
}

.img-block p { margin: 0; }

.img-block { margin: 10px 0 0; }

.img-frame {
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
  }
